.feed-element
{
    padding: 5px;
}
.feed-element img
{
    width: 100%;
    aspect-ratio: 1/1;
}
.feed-element div
{
    overflow: hidden;
}

/* search page */
.search-page
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: var(--logo-bg-color);
    z-index: 3;
    display: none;
}
